
/* Resetting default styling and setting font-family */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
  
}
body{

        background-color: #ffffff;
        height: 100vh;
        overflow: hidden;

}
.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
  }
  .resend-otp {
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-end; /* Align to the right */
    margin-top: 5px; /* Adds a small space between the input box and the link */
  }
  
  .resend-otp a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .resend-otp a:hover {
    color: #000;
  }
  

  

/* Login form styling */
.login_form {
    width: 100%;
    position: fixed;
    top: calc(50%); /* Assuming the height of your navbar is 45px */
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 350px;
    background-color: #ed1b24;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.login_form h3 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    color: #ffffff;

}

/* Google & Apple button styling */

.login_form .login_option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login_form .login_option .option {
    width: calc(100% / 2 - 12px);
}

.login_form .login_option .option a {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #F8F8FB;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    margin: 34px 0 24px 0;
    text-decoration: none;
    color: #171645;
    font-weight: 500;
    transition: 0.2s ease;
}

.login_form .login_option .option a:hover {
    background: #ffffff;
    border-color: #626cd6;
}

.login_form .login_option .option a img {
    max-width: 25px;
}

.login_form p {
    text-align: center;
    font-weight: 500;
}

.login_form .separator {
    position: relative;
    margin-bottom: 24px;
}

/* Login option separator styling */
.login_form .separator span {
    background: #fff;
    z-index: 1;
    padding: 0 10px;
    position: relative;
}

.loader-container {
    position: fixed; /* or 'absolute' depending on your requirements */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 206, 206, 0.5);
    z-index: 9999; /* Ensure the loader appears on top of other content */
  }
  
  .loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px; /* Adjust size */
    height: 20px; /* Adjust size */
    animation: spin 1s linear infinite; /* Spin animation */
    display: inline-block; /* Make it inline with text */
    margin-left: 5px; /* Space between loader and text */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.login_form .separator::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #C2C2C2;
    display: block;
}

form .input_box label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #ffffff;
}

/* Input field styling */
form .input_box input {
    width: 100%;
    height: 50px;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    outline: none;
    background: #F8F8FB;
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;
}

form .input_box input:focus {
    border-color: #626cd6;
}

form .input_box .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

form .input_box {
    position: relative;
}


a:hover {
    text-decoration: underline;
}

/* Login button styling */
form button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #000;
    border-color: crimson;
    font-size: 1.5em;
    font-weight: normal;
    outline-color: crimson;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    font-family: 'Poppins';

}
:where(.container, form, .input-field, header) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
    background: #fff;
    padding: 30px 65px;
    border-radius: 12px;
    row-gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .container header {
    height: 65px;
    width: 65px;
    background: #4070f4;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
  }
  .container h4 {
    font-size: 1.25rem;
    color: #333;
    font-weight: 500;
  }
  form .input-field {
    flex-direction: row;
    column-gap: 10px;
  }
  .input-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .input-field input::-webkit-inner-spin-button,
  .input-field input::-webkit-outer-spin-button {
    display: none;
  }